/* CONTENITORE BIGLIETTO */
.big-cont{
    height: 46rem;
    background-color: #b91450;
}

h1{
    font-size: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.cont-bor,
.cont-tik{
    margin-top: 5rem;
    height: 13rem;
    width: 55rem;
    color:#b91450;
}

/* DATI PER IL BIGLIETTO */
.cont-bor{
    border-radius: 15px;
}

#user-name,
#path,
#user-age{
    border: 1px solid #b91450; 
}
#user-name,
#path{
    height: 4rem;
}

#floatingSelectGrid {
    border: 1px solid #b91450; 
    margin-top: 2rem;
    text-align: center;
}
/* STAMPA DEL BIGLIETTO */
