body{
    font-size: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* CONTENITORE BIGLIETTO */
.big-cont{
    height: 46rem;
    background-color: #b91450;
}

.cont-bor,
.cont-tik{
    height: 13rem;
    width: 55rem;
    
}

/* DATI PER IL BIGLIETTO */
.cont-bor{
    border-radius: 15px;
    text-align: center;
    margin-top: 4rem;
    color:#b91450;
}

#user-name,
#path,
#user-age{
    border: 1px solid #b91450; 
}
#user-name,
#path{
    height: 3.6rem;
}

#user-age {
    text-align: center;
}

.title{
    margin-bottom: 1rem;
}

.btn{
    margin-right: 1rem;
}
/* STAMPA DEL BIGLIETTO */
.cont-tik{
    color: #000;
    font-size: bold;
    margin-top: 4rem;
}
